
header {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    margin:0 auto;    
    padding: 3rem;
    background: linear-gradient(90deg, #a29dff, #1e00fd);
    color:white;    
    
    h3{
        max-width: 1200px;
        margin: 0 auto;
    }

    h4 {
        color: #a29dff;
    }

    nav {
        margin:0 auto;        
        
        ul{
            display:flex;
            margin-right:0 auto; 
            li {
                list-style-type:none;
                margin:0 1.25rem;
                display: flex;
                justify-content:center;
                align-items:center;

                a {
                    font-size:1.25rem;
                    font-weight:400;
                    cursor:pointer;
                    padding:0.75rem;
                    border-radius:5px;
                    border:2px solid white;
                    color:white;

                    &:hover {
                        background-color: white;
                        color:#1e00fd;
                    }

                    @media screen and (max-width: 768px) {
                        font-size:1rem;
                    }           
                    
                }

                p{
                    font-size:1.25rem;
                    font-weight:400;

                    @media screen and (max-width: 768px) {
                        font-size:1rem;
                    
                        
                    }
                }
            }
        }
    }

    @media screen and (max-width: 768px) {

        padding:2rem;
        h3 {
            display:none;
        }             
    }
}

.toggle__navbar {
    font-size: 1.6rem;
}